<h1>Owner Dashboard</h1>
<p>Welcome, <%= username %>!</p>

<form action="/logout" method="get">
  <button type="submit">Log Out</button>
</form>

<label for="dog">Choose your dog:</label>
<select name="dog_id" id="dog" required>
  <option value="" disabled selected>-- Pick a dog --</option>
  <% dogs.forEach(dog => { %>
    <option value="<%= dog.dog_id %>"><%= dog.name %></option>
  <% }) %>
</select>
